# Virtual Environment
venv/

# Archive
archive/
# Python cache
__pycache__/
*.pyc

# Optional: IDE specific files
.vscode/
.idea/

# exclude the dataset
chest_xray/

# exclude any images
*.jpg
*.jpeg
*.png